@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Colors */
    --soft-blue: hsl( 215, 51%, 70% );
    --cyan: hsl( 178, 100%, 50% );

    --very-dark-blue-mainBG: hsl( 217, 54%, 11% );
    --very-dark-blue-cardBG: hsl( 216, 50%, 16% );
    --very-dark-blue-line: hsl( 215, 32%, 27% );
    --white: hsl( 0, 0%, 100% );

    /* Font */
    --ff: 'Outfit', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semiBold: 600;
}

.container {
    background-color: var(--very-dark-blue-cardBG);
}

.container > div:nth-child(2) > h1 {
    color: var(--white);
    font-weight: var(--fw-semiBold);
}

.container > div:nth-child(2) > p {
    color: var(--soft-blue);
    font-weight: var(--fw-light);
}

.content {
    border-bottom: 2px solid var(--very-dark-blue-line);
}

.content > div:nth-child(1) > p {
    color: var(--cyan);
    font-weight: var(--fw-semiBold);
}

.content > div:nth-child(2) > p {
    color: var(--soft-blue);
    font-weight: var(--fw-regular);
}

.footer > p {
    color: var(--soft-blue);
    font-weight: var(--fw-light);
}

.footer > p > span {
    color: var(--white);
}